<!-- CONTENT ENDS HERE -->
    </div>  <!-- div: content container -->
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
    <style>
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #dec6e0;;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  transform: scale(1.25);
}

#myBtn:hover {
  background-color: #555;
}
</style>
<button onclick="topFunction()" id="myBtn">^</button>

<script>
// Get the button
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
  </body>
</html>
